a {
    text-decoration: none;
}

.inline-form * {
    display: inline-block;
    /*esto de arriba no esta haciendo nada aqui, al menos no cuando uso w3.css, no he probado de otra forma*/
    width: auto;
}

.delete-formset:hover,
.delete-row:hover {
    color: red !important;
    cursor: pointer;
}

.add-row-cross-btn:hover {
    color: teal !important;
    cursor: pointer;
}

.dynamic-fformset .w3-select,
.dynamic-fformset .w3-input,
#PredefinedAmountModalForm .w3-input,
#PredefinedAmountModalForm .w3-select {
    margin-bottom: 4px;
    min-width: 100px;
}

.tooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    position: absolute;
}

.new-product {
    padding-top: 8px;
}

.w3-select {
    height: 40px;
}

.hide-to-print {
    display: none;
}

.custom-message {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.table-data td,
.table-data th {
    vertical-align: middle;
}

.table-data th {
    padding: 4px;
}

.table-data td {
    padding: 1px 4px;
    white-space: nowrap;
}

.model-title {
    text-align: center;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        display: none;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.custom-message {
    opacity: 0;
    animation-name: fadeIn, fadeOut;
    animation-duration: 0.3s, 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s, 5s;
}

.custom-message ul {
    list-style-type: none;
}

.databases-list {
    display: flex;
    flex-direction: column;
    padding: 2em;
    margin: 1em 0em;
    align-content: center;
    justify-content: space-evenly;
}

.databases-list button {
    margin: 0.4em 0em;
    overflow: hidden;
}

.database-item {
    margin: 0.5em 0em;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-end;
    justify-content: space-between;
}

.contenedor-centered {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
}

@media screen and (min-width: 480px) {
    .contenedor-centered {
        width: 70%;
    }
}

.database-item-controls {
    display: flex;
    margin: auto 0em;
    justify-self: flex-end;
    align-self: flex-end;
}

.database-item-controls i {
    margin-left: 0.5em;
}

#download:hover {
    color: rgb(0, 92, 92)!important;
}

.select-database-button:hover {
    cursor: pointer;
    background-color: teal;
    color: honeydew;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 60px 200px 0 rgba(0, 0, 0, 0.19);
}

.select-database-button {
    border: none;
    padding: 0.5em;
    user-select: none;
}

.databases-list-sibling-controls {
    padding: 2em;
}