{% load staticfiles %}{% load simple_tags %}
<!DOCTYPE html>
<html>

<link rel="shortcut icon" href="{% static 'favicon.png' %}" />
<link href="{%static  '/css/jquery-ui.css' %}" rel="stylesheet">
<script src="{%static  '/scripts/jQuery/jquery-3.4.1.js' %}"></script>
<script src="{%static  '/scripts/jQuery/jquery-ui.js' %}"></script>

<script src="{%static  '/scripts/jQuery_mios/functions.js' %}"></script>
{% comment %}
<script src="{%static  '/turbolinks/turbolinks.js' %}"></script> {% endcomment %}

<link href="{%static  '/css/w3.css' %}" rel="stylesheet">
<link href="{%static  '/css/a.css' %}" rel="stylesheet">
<link href="{%static  '/css/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{%static  '/css/metrize_icons/style.css' %}" rel="stylesheet">

<head>
    <title>{% block title %}Main{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=2.0, user-scalable=yes">
    <style>
        body,
        h1,
        h2,
        h3,
        h4,
        h5,
        * {
            font-family: "Verdana", sans-serif;
        }
    </style>
</head>


<div id="header">

</div>

<body class="w3-light-grey" id="Body">
    <noscript class="w3-padding-0 w3-red">
        <div class="w3-padding-0 w3-red">
            <h2>La página que estás viendo requiere para su funcionamiento el uso de JavaScript.
            Si lo has deshabilitado intencionadamente, por favor vuelve a activarlo.</h2>
        </div>
    </noscript> 
    {% include 'includes/nav_header.html' %} 
    <div class="zoomable">
        {% block content %} 
        {% endblock %}
    </div>
</body>

<br>

<footer>
</footer>

</html>