{% extends "base.html" %}{% load simple_tags %}{% load inclusion_tags %}{% load filter_tags %}{% load staticfiles %}{% block title %}Nueva Producción{% endblock %} {% block content %}
<!DOCTYPE html>
<html>
<title>Turquino DB</title>

<script src="{%static  '/scripts/dinamicFORMSET.js' %}"></script>
<script src="{%static  '/scripts/dinamicFORMSETnuevaProduccion.js' %}"></script>

<body class="w3-light-grey">


    <!-- !PAGE CONTENT! -->

    <div class="w3-container ">
        <br>
        <form method="post" autocomplete="off">
            {% csrf_token %}
            <div class="w3-container w3-form w3-card-2">
                {% renderFieldTooltiped produccionForm.verbose_name 'width:100%'%}
            </div>

            <br>
            <table class="w3-form w3-table w3-table-all w3-container w3-card-2 w3-animate-opacity dynamic-fformset">
                <tr id='{{ formset.prefix }}-formset' class="dynamic-formset">
                    {{ formset.management_form }} {% for form in formset.forms %}
                    <td id="{{ form.prefix }}-row" class="dynamic-form text-center w3-border w3-animate-opacity">
                        {% renderFieldTooltiped form.producto_name 'width:100%' %} {% renderFieldTooltiped form.cantidad 'width:100%' %}
                        <i title="Eliminar producto" id="remove-{{ form.prefix }}-row" class="fa fa-minus w3-xlarge w3-text-grey delete-row w3-right" type="button?" from={{ formset.prefix }}></i>
                    </td>
                    {% endfor %}
                </tr>
            </table>
            <br>
            <button title="Agregar produto" class="w3-btn w3-gray add-row" type="button" to={{ formset.prefix }}>Agregar</button>
            <button title="Guarda la producción en la Base de Datos" class="w3-btn" type="submit" value="save">Guardar</button>
        </form>
    </div>

    </div>
    {% include 'includes/messages_handler.html' %}

</body>

</html>

{% endblock %}