{% extends "base.html" %}{% load simple_tags %}{% load inclusion_tags %}{% load filter_tags %}{% load staticfiles %}{% block title %}Nuevo Vale{% endblock %} {% block content %}
<!DOCTYPE html>
<html>
<title>Turquino DB</title>

<script src="{%static  '/scripts/dinamicFORMSET.js' %}"></script>



<body class="w3-light-grey">


    <!-- !PAGE CONTENT! -->

    <div class="w3-container ">
        <br>
        <form method="post" >
            {% csrf_token %}
            <div class="w3-container w3-form w3-card-2">
                    {% renderFieldTooltiped valesalidaform.No_documento %}
                    {% renderFieldTooltiped valesalidaform.dia %}

            </div>

            <br>
            {% comment %} si pongo <div class="w3-responsive"> se me oculta un pedazo del tooltip detras de la tabla {% endcomment %}
            <table class="w3-form w3-table w3-table-all w3-container w3-card-2 w3-animate-opacity">
             {{ formsets.management_form }}
             {{ pickProductFormset.management_form }} 
            
            {% for formset, products in formsets|zip:pickProductFormset %}
                <tr id='form_set' class="dynamic-formset">
                    <td class="text-center w3-border w3-animate-opacity">
                        {% renderFieldTooltiped products.tipo 'width:100%'%}

                        <button class="w3-btn w3-gray add-row" type="button" value="add" id="" to={{ formset.prefix }}>Agregar producto</button>
                    </td>

                    {{ formset.management_form }} {% for form in formset.forms %}
                    <td id="{{ form.prefix }}-row" class="dynamic-form text-center w3-border w3-animate-opacity">
                        {% renderFieldTooltiped form.producto 'width:100%' %}
                        {% renderFieldTooltiped form.cantidad 'width:100%' %}

                        <button id="remove-{{ form.prefix }}-row" class="w3-btn w3-gray delete-row" type="button" from={{ formset.prefix }}>Eliminar</button>
                    </td> {% endfor %}
                </tr>
                {% endfor %}
            </table>
            <br>
{{a.}}
            <button class="w3-btn" type="submit" value="save">Guardar</button>
        </form>
    </div>
    </div>

</body>

</html>

{% endblock %}s